@import url('https://fonts.googleapis.com/css2?family=Noto+Sans|Rubik');

* {
    /* Universal Text Formatting */
    font-family: 'Noto Sans', sans-serif;
    line-height: 2.5;
    letter-spacing: -.003em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

:root {
    /* Global Color Variables */
    --background: #242425;
    --navbars: #2b2b2b;
    --content: #1e1e1e;
    --title: #4598d3;
}

h6, h5, h4, h3, h2, h1, p, a, li, ol, small, span {
    color: whitesmoke;
}

p, a, li, ol, small, span {
    font-size: 1.03em;
}

p {
    text-align: justify
}

h1, span {
    display: inline-block;
}

.outline {
    border-radius: 30px;
    position: relative;
    background-color: var(--navbars);
}


.img_main {
    display: block;
    max-width: 400px;
    max-height: 400px;
    width: 80%;
    height: 80%;
    padding: 1%;
}

.img_blog {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    max-height: 600px;
    width: 80%;
    height: 80%;
    padding: 1%;
}


.img_exp {
    display: block;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    padding: 1%;
}

img.rounded-corners {
    border-radius: 30px;
}

.container {
    display: flex;
}

.item {
    flex-shrink: 3;
    padding: 1%;
    margin: 1em 1em 1em 1em;
}

.content {
    background-color: var(--content);
    padding: 1%;
    margin: auto;
    width: 90%;
}

.background {
    background-color: var(--background);
}

.title {
    display: flex;
    justify-content: left;
    text-transform: capitalize;
    color: var(--title);
}

.big_title {
    font-family: Rubik, sans-serif;
    font-size: 2em;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: var(--title);
}

.navbar {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    background-color: var(--navbars);
}

.footer {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    background-color: var(--navbars);
}

.navbar_item {
    font-family: Rubik, sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
}

.navbar_list {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 0;
}

.bullet_item {
    margin-bottom: 15px;
}

.small {
    font-size: .9rem
}

.smooth_list {
    padding: 0;
    list-style-type: none;
}

.post_link {
    display: inline-block
}

.no_bullet {
    list-style: none
}

.blog_post {
    background-color: var(--navbars);
    padding: 1% 5%;
    border-radius: 15px;
}

.center {
    text-align: center
}
