
* {
    /* Universal Text Formatting */
    font-family: "Open Sans", sans-serif;
    line-height: 2.5;
    letter-spacing: -.003em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h6, h5, h4, h3, h2, h1, p, a, li, ol {
    color: whitesmoke;
}

div, span {
    display: inline-block;
}

img {
    display: block;
    max-width: 25%;
    max-height: 25%;
    width: auto;
    height: auto;
}

img.rounded-corners {
    border-radius: 30px;
}

.container {
    display: flex;
}

.item {
    flex-shrink: 3;
    margin: auto 1em auto 1em;
}

.content {
    background-color: #40444B;
    padding: 1%;
    margin: auto;
    width: 90%;
}

.background {
    background-color: #2F3136;
}

.title {
    display: flex;
    justify-content: left;
    text-transform: capitalize;
    color: cornflowerblue;
}

.big_title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: cornflowerblue;
}

.navbar {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    background-color: #383B41;
}

.footer {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    background-color: #383B41;
}

.navbar_item {
    font-size: 1em;
    font-weight: bolder;
}

.navbar_list {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 0;
}

.bullet_item {
    margin-bottom: 15px;
}

